.vscode/**
.vscode-test/**
out/**
node_modules/**
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/public/**
webview-ui/.vscode/**
webview-ui/.cache/**
webview-ui/.turbo/**
src/**
.git/**
.github/**
.cursor/**
.history/**
.notes/**
.opencode/**
**/__tests__/**
**/*.spec.*
**/*.test.*
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!webview-ui/dist/**
